#main-map{
  margin: auto;
  align-content: center;
  height: 400px;
  width: 800px;
  border: 1px solid black;

}

#weather-display{
  width: 800px;
  height: 300px;
}

#all{
  align-content: center;
  margin: auto;

}
