#main-map{
  margin: auto;
  align-content: center;
  height: 350px;
  width: 350px;
  border: 1px solid black;

}

.h1{
  align-content: center;
  margin: auto;
}

#weather-display{
  width: 500px;
  height: 200px;
}
