#main-map{
  margin: auto;
  align-content: center;
  height: 400px;
  width: 400px;
  border: 1px solid black;

}

.h1{
  align-content: center;
  margin: auto;
}

#weather-display{
  width: 800px;
  height: 300px;
}
